@model Considerate.Hellolingo.Models.ForgotPasswordViewModel
@{
	Layout = "~/Views/Shared/_LayoutAccount.cshtml";
	ViewBag.Title = StringsFoundation.ForgotPassword;
}

@using(Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "profile-wrap clearfix" }))
{
	@Html.AntiForgeryToken()
	<fieldset>
		<div class="col-sm-5 header-left">
			@if(ViewContext.ViewData.ModelState.Keys.Contains("Email") && ViewContext.ViewData.ModelState [ "Email" ].Errors.Count > 0)
				{
				<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
				}
			@Html.DisplayNameFor(m => m.Email)
		</div>
		<div class="col-sm-7">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
		</div>

	</fieldset>
	<fieldset class="fieldset-save">
		@if (Model != null && Model.InvalidEmail) {
				<p class="save-message">
					<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
					@StringsFoundation.UnableToFindEmail
				</p>
		}
		<button class="btn btn-success pull-right" type="submit">
			@StringsFoundation.Ok<span class="glyphicon glyphicon-play"></span>
		</button>
	</fieldset>
}
