@model Considerate.Hellolingo.Models.ResetPasswordViewModel
@{ Layout = "~/Views/Shared/_LayoutAccount.cshtml"; }

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "profile-wrap clearfix" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
	<fieldset>
		<div class="col-sm-4 header-left">
			@if (ViewContext.ViewData.ModelState.Keys.Contains("Email") && ViewContext.ViewData.ModelState["Email"].Errors.Count > 0)
			{
				<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
			}
			@Html.DisplayNameFor(m => m.Email)
		</div>
		<div class="col-sm-8">
			@Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
		</div>
	</fieldset>
	<fieldset>
		<div class="col-sm-4 header-left">
			@if (ViewContext.ViewData.ModelState.Keys.Contains("Password") && ViewContext.ViewData.ModelState["Password"].Errors.Count > 0)
			{
				<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
			}
			@Html.DisplayNameFor(m => m.Password)
		</div>
		<div class="col-sm-8">
			@Html.PasswordFor(m => m.Password, new {@class = "form-control"})
		</div>
	</fieldset>
	<fieldset>
		<div class="col-sm-4 header-left">
			@if(ViewContext.ViewData.ModelState.Keys.Contains("ConfirmPassword") && ViewContext.ViewData.ModelState [ "ConfirmPassword" ].Errors.Count > 0)
				{
				<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
				}
			@Html.DisplayNameFor(m => m.ConfirmPassword)
		</div>
		<div class="col-sm-8">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
	</fieldset>
	<fieldset class="fieldset-save">
		@if (Model != null && Model.InvalidEmail)
		{
				<p class="save-message">
					<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
					@StringsFoundation.UnableToFindEmail
				</p>
		}
		@if (Model != null && Model.PasswordsDiffer)
		{
				<p class="save-message">
					<span class="glyphicon glyphicon-exclamation-sign validation-error-sign"></span>
					@StringsFoundation.PasswordsDifferMsg
				</p>
		}
		<button class="btn btn-success pull-right" type="submit">
			Reset <span class="glyphicon glyphicon-play"></span>
		</button>
	</fieldset>
}

